In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv(r'C:\Users\meetd\OneDrive\Desktop\Datasets\customer-transaction\train.csv')
test_data = pd.read_csv(r'C:\Users\meetd\OneDrive\Desktop\Datasets\customer-transaction\test.csv')

In [3]:
train_data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [4]:
test_data.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [5]:
print(train_data['target'].sum())
train_data.sort_values(by='target',ascending=False,inplace=True)
train_data.head()
train_data = train_data.iloc[:50000]

20098

In [6]:
print(train_data.shape)
print(test_data.shape)
train_data.drop(['ID_code'],axis=1,inplace=True)
test_data.drop(['ID_code'],axis=1,inplace=True)

x_test = test_data
x_train = train_data.loc[:, train_data.columns != 'target']
y_train = train_data.loc[:, train_data.columns == 'target']
print(x_train.shape, y_train.shape, x_test.shape)

(50000, 202)
(200000, 201)
(50000, 200) (50000, 1) (200000, 200)

In [7]:
import seaborn as sns

In [8]:
sns.set_style("whitegrid")
missing = train_data.isnull().sum()
missing = missing[missing>0]
print(missing.values)
if(missing.any() == None):
    print('Missing features')
else:
    print('No missing features')

[]
No missing features

In [9]:
dtype = set(train_data.dtypes)
print(dtype)

{dtype('int64'), dtype('float64')}

In [10]:
y_train.nunique()

target    2
dtype: int64

In [11]:
import tensorflow as tf

In [12]:
Model = tf.keras.Sequential([
    tf.keras.layers.Dense(1024,activation='relu'),
    tf.keras.layers.Dense(512,activation='relu'),
    tf.keras.layers.Dense(256,activation='relu'),
    tf.keras.layers.Dense(256,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [13]:
Model.compile(optimizer='adam',loss='binary_crossentropy', metrics='accuracy')

In [14]:
Model.fit(x_train,y_train, batch_size=500, epochs=50,validation_split=0.2)

Epoch 1/50
80/80 [==============================] - 3s 28ms/step - loss: 0.8530 - accuracy: 0.6328 - val_loss: 0.4408 - val_accuracy: 0.8096
Epoch 2/50
80/80 [==============================] - 2s 25ms/step - loss: 0.5351 - accuracy: 0.7307 - val_loss: 0.4162 - val_accuracy: 0.8377
Epoch 3/50
80/80 [==============================] - 2s 27ms/step - loss: 0.5071 - accuracy: 0.7497 - val_loss: 0.6284 - val_accuracy: 0.6676
Epoch 4/50
80/80 [==============================] - 2s 27ms/step - loss: 0.4943 - accuracy: 0.7610 - val_loss: 0.5581 - val_accuracy: 0.7238
Epoch 5/50
80/80 [==============================] - 2s 27ms/step - loss: 0.4844 - accuracy: 0.7681 - val_loss: 0.2962 - val_accuracy: 0.8987
Epoch 6/50
80/80 [==============================] - 2s 26ms/step - loss: 0.4837 - accuracy: 0.7675 - val_loss: 0.4405 - val_accuracy: 0.7998
Epoch 7/50
80/80 [==============================] - 2s 26ms/step - loss: 0.4856 - accuracy: 0.7646 - val_loss: 0.3600 - val_accuracy: 0.8614
Epoch 8/50
80/80 [==============================] - 2s 28ms/step - loss: 0.4592 - accuracy: 0.7829 - val_loss: 0.6061 - val_accuracy: 0.7026
Epoch 9/50
80/80 [==============================] - 2s 26ms/step - loss: 0.4489 - accuracy: 0.7876 - val_loss: 0.6030 - val_accuracy: 0.7010
Epoch 10/50
80/80 [==============================] - 2s 26ms/step - loss: 0.4428 - accuracy: 0.7923 - val_loss: 0.7413 - val_accuracy: 0.6238
Epoch 11/50
80/80 [==============================] - 2s 27ms/step - loss: 0.4293 - accuracy: 0.8004 - val_loss: 0.6914 - val_accuracy: 0.6605
Epoch 12/50
80/80 [==============================] - 2s 28ms/step - loss: 0.4102 - accuracy: 0.8110 - val_loss: 0.4138 - val_accuracy: 0.8226
Epoch 13/50
80/80 [==============================] - 2s 27ms/step - loss: 0.3976 - accuracy: 0.8202 - val_loss: 0.6510 - val_accuracy: 0.6902
Epoch 14/50
80/80 [==============================] - 2s 27ms/step - loss: 0.3952 - accuracy: 0.8188 - val_loss: 0.3987 - val_accuracy: 0.8278
Epoch 15/50
80/80 [==============================] - 2s 26ms/step - loss: 0.3679 - accuracy: 0.8345 - val_loss: 0.4735 - val_accuracy: 0.7861
Epoch 16/50
80/80 [==============================] - 2s 26ms/step - loss: 0.3655 - accuracy: 0.8333 - val_loss: 0.7312 - val_accuracy: 0.6777
Epoch 17/50
80/80 [==============================] - 2s 26ms/step - loss: 0.3264 - accuracy: 0.8573 - val_loss: 1.2515 - val_accuracy: 0.5049
Epoch 18/50
80/80 [==============================] - 2s 26ms/step - loss: 0.3214 - accuracy: 0.8571 - val_loss: 0.9615 - val_accuracy: 0.6397
Epoch 19/50
80/80 [==============================] - 2s 26ms/step - loss: 0.2975 - accuracy: 0.8696 - val_loss: 0.8665 - val_accuracy: 0.6573
Epoch 20/50
80/80 [==============================] - 2s 26ms/step - loss: 0.2887 - accuracy: 0.8741 - val_loss: 0.4160 - val_accuracy: 0.8426
Epoch 21/50
80/80 [==============================] - 2s 26ms/step - loss: 0.2384 - accuracy: 0.8992 - val_loss: 0.3675 - val_accuracy: 0.8726
Epoch 22/50
80/80 [==============================] - 2s 27ms/step - loss: 0.2203 - accuracy: 0.9061 - val_loss: 0.4854 - val_accuracy: 0.8325
Epoch 23/50
80/80 [==============================] - 2s 26ms/step - loss: 0.2212 - accuracy: 0.9075 - val_loss: 0.9849 - val_accuracy: 0.6913
Epoch 24/50
80/80 [==============================] - 2s 26ms/step - loss: 0.1829 - accuracy: 0.9243 - val_loss: 0.8187 - val_accuracy: 0.7475
Epoch 25/50
80/80 [==============================] - 2s 26ms/step - loss: 0.1566 - accuracy: 0.9366 - val_loss: 0.5971 - val_accuracy: 0.8202
Epoch 26/50
80/80 [==============================] - 2s 26ms/step - loss: 0.1417 - accuracy: 0.9433 - val_loss: 1.0379 - val_accuracy: 0.7327
Epoch 27/50
80/80 [==============================] - 2s 25ms/step - loss: 0.1354 - accuracy: 0.9468 - val_loss: 0.7439 - val_accuracy: 0.7961
Epoch 28/50
80/80 [==============================] - 2s 27ms/step - loss: 0.1313 - accuracy: 0.9470 - val_loss: 1.3350 - val_accuracy: 0.6882
Epoch 29/50
80/80 [==============================] - 2s 27ms/step - loss: 0.1026 - accuracy: 0.9605 - val_loss: 1.3310 - val_accuracy: 0.6955
Epoch 30/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0904 - accuracy: 0.9647 - val_loss: 1.2334 - val_accuracy: 0.7310
Epoch 31/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0973 - accuracy: 0.9631 - val_loss: 1.1612 - val_accuracy: 0.7482
Epoch 32/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0719 - accuracy: 0.9728 - val_loss: 1.8605 - val_accuracy: 0.6348
Epoch 33/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0892 - accuracy: 0.9665 - val_loss: 1.3494 - val_accuracy: 0.7196
Epoch 34/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0628 - accuracy: 0.9761 - val_loss: 1.4365 - val_accuracy: 0.7277
Epoch 35/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0632 - accuracy: 0.9763 - val_loss: 1.3366 - val_accuracy: 0.7467
Epoch 36/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0605 - accuracy: 0.9774 - val_loss: 1.3318 - val_accuracy: 0.7441
Epoch 37/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0687 - accuracy: 0.9742 - val_loss: 1.3025 - val_accuracy: 0.7344
Epoch 38/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0474 - accuracy: 0.9823 - val_loss: 1.3053 - val_accuracy: 0.7800
Epoch 39/50
80/80 [==============================] - 2s 28ms/step - loss: 0.0492 - accuracy: 0.9815 - val_loss: 1.7479 - val_accuracy: 0.6906
Epoch 40/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0570 - accuracy: 0.9791 - val_loss: 1.8871 - val_accuracy: 0.6723
Epoch 41/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0409 - accuracy: 0.9852 - val_loss: 1.6755 - val_accuracy: 0.7246
Epoch 42/50
80/80 [==============================] - 2s 28ms/step - loss: 0.0482 - accuracy: 0.9830 - val_loss: 1.8603 - val_accuracy: 0.6828
Epoch 43/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0506 - accuracy: 0.9820 - val_loss: 2.0391 - val_accuracy: 0.6483
Epoch 44/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0517 - accuracy: 0.9812 - val_loss: 1.1311 - val_accuracy: 0.7983
Epoch 45/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0758 - accuracy: 0.9717 - val_loss: 1.6572 - val_accuracy: 0.6650
Epoch 46/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0267 - accuracy: 0.9910 - val_loss: 2.0179 - val_accuracy: 0.7087
Epoch 47/50
80/80 [==============================] - 2s 26ms/step - loss: 0.0301 - accuracy: 0.9888 - val_loss: 1.3649 - val_accuracy: 0.7674
Epoch 48/50
80/80 [==============================] - 2s 28ms/step - loss: 0.0514 - accuracy: 0.9799 - val_loss: 1.4598 - val_accuracy: 0.7296
Epoch 49/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0311 - accuracy: 0.9885 - val_loss: 2.8810 - val_accuracy: 0.6153
Epoch 50/50
80/80 [==============================] - 2s 27ms/step - loss: 0.0382 - accuracy: 0.9861 - val_loss: 1.4160 - val_accuracy: 0.7734

In [15]:
Model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (500, 1024)               205824
_________________________________________________________________
dense_1 (Dense)              (500, 512)                524800
_________________________________________________________________
dense_2 (Dense)              (500, 256)                131328
_________________________________________________________________
dense_3 (Dense)              (500, 256)                65792
_________________________________________________________________
dense_4 (Dense)              (500, 1)                  257
=================================================================
Total params: 928,001
Trainable params: 928,001
Non-trainable params: 0
_________________________________________________________________

In [16]:
y_pred = Model.predict(x_test)
print(y_pred)

[[5.8893859e-03]
 [9.9652255e-01]
 [1.0000000e+00]
 ...
 [4.9884726e-08]
 [3.6507845e-03]
 [5.1601231e-02]]

In [17]:
sample = pd.read_csv(r'C:\Users\meetd\OneDrive\Desktop\Datasets\customer-transaction\sample_submission.csv')
sample.head()

  ID_code  target
0  test_0       0
1  test_1       0
2  test_2       0
3  test_3       0
4  test_4       0

In [18]:
sample['target'] = y_pred
sample.head()

  ID_code    target
0  test_0  0.005889
1  test_1  0.996523
2  test_2  1.000000
3  test_3  0.999712
4  test_4  0.109090

In [19]:
sample.to_csv(r'C:\Users\meetd\OneDrive\Desktop\Datasets\my_submission.csv',index=False)
print('Submission Saved Succesfully')

Submission Saved Succesfully