In [1]:
import pandas as pd
house = pd.read_csv('C:/Users/meetd/OneDrive/Desktop/Datasets/melb_housing/melb_data.csv')
print(house.shape)
house = house.dropna(axis = 0)
house.columns

(13580, 21)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [2]:
from sklearn.model_selection import train_test_split
y = house.Price
feature_vector = [ 'Rooms','Distance', 'Postcode', 'Price']
x = house[feature_vector]
x_train , x_test, y_train, y_test = train_test_split(x,y, random_state = 0)
x.head()

   Rooms  Distance  Postcode      Price
1      2       2.5    3067.0  1035000.0
2      3       2.5    3067.0  1465000.0
4      4       2.5    3067.0  1600000.0
6      3       2.5    3067.0  1876000.0
7      2       2.5    3067.0  1636000.0

In [3]:
from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state = 1)
melbourne_model.fit(x_train,y_train)
y_predictions = melbourne_model.predict(x_test)

In [4]:
import sklearn
print(sklearn.metrics.mean_absolute_error(y_test, y_predictions ))

2772.580374435119

In [ ]:
def get_mae(max_leaf_nodes,)